body
  background: #efefef
.col-xs-3.img-reponsive, .product-thumbnail-image
  max-width: 100px
.center
  text-align: center
.wrapper__product-item
  border: 1px solid #f8f8f8
  padding: 5px
  margin: 10px
  height: 430px
  overflow: hidden
  background: #fff
  p
    height: $line * $line__height * $font__size
    overflow: hidden
.hide-input
  display: none
.product__image-index
  max-width: 223px
  max-height: 223px
  overflow: hidden
